flow.json
[{"id":"d6c31ee6.dde44","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2558507.651218","type":"mqtt-broker","z":"","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"701520c0.a1201","type":"MySQLdatabase","z":"","host":"172.17.0.3","port":"3306","db":"supplychain","tz":""},{"id":"781cc734.05d928","type":"mqtt in","z":"d6c31ee6.dde44","name":"","topic":"m3t/mpu6050","qos":"2","broker":"b2558507.651218","x":310,"y":160,"wires":[["31dfd927.b085a6"]]},{"id":"56212502.26d8ac","type":"mqtt out","z":"d6c31ee6.dde44","name":"","topic":"thao_test","qos":"","retain":"","broker":"b2558507.651218","x":780,"y":160,"wires":[]},{"id":"566e81bc.9fc4c","type":"http request","z":"d6c31ee6.dde44","name":"","method":"GET","ret":"txt","url":"192.168.12.127:3000","tls":"","x":550,"y":160,"wires":[["eced41e7.cb367"]]},{"id":"e4fe4de7.c98e6","type":"debug","z":"d6c31ee6.dde44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","x":580,"y":400,"wires":[]},{"id":"115c2cdb.cab863","type":"e-mail","z":"d6c31ee6.dde44","server":"smtp.gmail.com","port":"465","secure":true,"name":"nguyentienthao96@gmail.com","dname":"thao","x":350,"y":480,"wires":[]},{"id":"1b409761.b260e9","type":"inject","z":"d6c31ee6.dde44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["115c2cdb.cab863"]]},{"id":"2955c4e9.04098c","type":"mysql","z":"d6c31ee6.dde44","mydb":"701520c0.a1201","name":"supplychainDB","x":580,"y":60,"wires":[["b2161744.36b008"]]},{"id":"f4e113b.bf2dff","type":"inject","z":"d6c31ee6.dde44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["42a56f49.6467f"]]},{"id":"42a56f49.6467f","type":"function","z":"d6c31ee6.dde44","name":"query","func":"msg.topic = \"SELECT * FROM supplychain.users;\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["2955c4e9.04098c"]]},{"id":"b2161744.36b008","type":"debug","z":"d6c31ee6.dde44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":60,"wires":[]},{"id":"31dfd927.b085a6","type":"function","z":"d6c31ee6.dde44","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["566e81bc.9fc4c"]]},{"id":"eced41e7.cb367","type":"function","z":"d6c31ee6.dde44","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["56212502.26d8ac"]]},{"id":"e26214d3.4d7b28","type":"function","z":"d6c31ee6.dde44","name":"","func":"context.get('count', function(err, count) {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        // initialise the counter to 0 if it doesn't exist already\n        count = count || 0;\n        count += 1;\n        // store the value back\n        context.set('count',count, function(err) {\n            if (err) {\n                node.error(err, msg);\n            } else {\n                // make it part of the outgoing msg object\n                msg.count = count;\n                // send the message\n                node.send(msg);\n            }\n        });\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["e4fe4de7.c98e6"]]},{"id":"f085d94b.1122b8","type":"inject","z":"d6c31ee6.dde44","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["e26214d3.4d7b28"]]}]
