prepape/node-red/data/.flows.json.backup
[{"id":"70ebf3ea.a78d3c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"320e0419.d5f6ac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a0955585.20e3b8","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"99fcb0d.142575","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"1c08b279.9ff14e","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93d84f1c.0cae4","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7ed4215e.2f099","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"2029b391.8c25ac","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"bb2529cb.aa0848","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83e7e7d1.e46e58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65c1e55.9dd9e1c","type":"mqtt-broker","z":"","broker":"server.tobernguyen.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f179ddae.082c9","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"3d884f95.1da73","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"abc9e63e.e25988","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c91c918.ce9688","type":"mqtt-broker","z":"","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55ec42d9.fd8f2c","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"4d9edb7.81ed424","type":"mqtt-broker","z":"","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57cf9630.e0c178","type":"MySQLdatabase","z":"","host":"172.17.0.3","port":"3306","db":"supplychain","tz":""},{"id":"b645dac9.fe4c58","type":"mqtt in","z":"70ebf3ea.a78d3c","name":"","topic":"olp/detectaction","qos":"2","broker":"4d9edb7.81ed424","x":92,"y":144,"wires":[["f38fb333.a8ee1"]]},{"id":"94a71879.0269d8","type":"mqtt out","z":"70ebf3ea.a78d3c","name":"","topic":"olp1","qos":"","retain":"","broker":"4d9edb7.81ed424","x":770,"y":160,"wires":[]},{"id":"2ba229a.15889d6","type":"http request","z":"70ebf3ea.a78d3c","name":"","method":"POST","ret":"txt","url":"192.168.0.119:5000/predict_gesture","tls":"","x":381,"y":137,"wires":[["8e4913c3.85b6","7a4579b8.d29f48"]]},{"id":"db9effc5.40526","type":"e-mail","z":"70ebf3ea.a78d3c","server":"smtp.gmail.com","port":"465","secure":true,"name":"nguyentienthao96@gmail.com","dname":"thao","x":316,"y":488,"wires":[]},{"id":"30fa29a9.c6de96","type":"inject","z":"70ebf3ea.a78d3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":157,"y":488,"wires":[["db9effc5.40526"]]},{"id":"bfeb6814.8ab368","type":"inject","z":"70ebf3ea.a78d3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["f0d610d6.db2e3"]]},{"id":"f0d610d6.db2e3","type":"function","z":"70ebf3ea.a78d3c","name":"query","func":"msg.topic = \"SELECT * FROM supplychain.users;\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[[]]},{"id":"7a4579b8.d29f48","type":"debug","z":"70ebf3ea.a78d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":763,"y":44,"wires":[]},{"id":"22e0ecc0.fbe8a4","type":"function","z":"70ebf3ea.a78d3c","name":"Get predict","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":746,"y":419,"wires":[[]]},{"id":"8e4913c3.85b6","type":"function","z":"70ebf3ea.a78d3c","name":"","func":"if(msg.payload == \"up\")\n    msg.payload = \"0xa10\"\nelse if(msg.payload == \"down\")\n    msg.payload = \"0xa20\"\nelse if(msg.payload == \"left\")\n    msg.payload = \"0xa30\"\nelse if(msg.payload == \"right\")\n    msg.payload = \"0xa40\"\nelse if(msg.payload == \"walking\")\n    msg.payload = \"0xa50\"\nelse if(msg.payload == \"running\")\n    msg.payload = \"0xa60\"\nelse if(msg.payload == \"standing\")\n    msg.payload = \"0xa70\"\nelse if(msg.payload == \"sitting\")\n    msg.payload = \"0xa80\"\nelse msg.payload = \"0xa00\"\nreturn msg;","outputs":1,"noerr":0,"x":622,"y":171,"wires":[["94a71879.0269d8","7a4579b8.d29f48"]]},{"id":"f38fb333.a8ee1","type":"function","z":"70ebf3ea.a78d3c","name":"push data","func":"context.get('data', function(err, data) {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        // initialise the counter to 0 if it doesn't exist already\n        data = data || [];\n        if(data.length > 20){\n            data = [];\n        }\n        var temp = JSON.parse(msg.payload);\n        temp.timestamps = new Date();\n        data.push(temp)\n        // store the value back\n        context.set('data',data, function(err) {\n            if (err) {\n                node.error(err, msg);\n            } else {\n                // make it part of the outgoing msg object\n                msg.payload = data;\n                // send the message\n                console.log(data);\n                if(data.length == 20){\n                    node.send(msg);\n                    data = [];\n                }\n                \n            }\n        });\n    }\n});\n\n// return msg;","outputs":1,"noerr":0,"x":150,"y":272,"wires":[["2ba229a.15889d6"]]},{"id":"9e270b79.e13ee8","type":"inject","z":"70ebf3ea.a78d3c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":203,"y":589,"wires":[[]]},{"id":"d91da1ca.ba201","type":"mqtt out","z":"70ebf3ea.a78d3c","name":"","topic":"olp1","qos":"","retain":"","broker":"5c91c918.ce9688","x":424.5,"y":393,"wires":[]},{"id":"3039ffd3.588ac","type":"inject","z":"70ebf3ea.a78d3c","name":"","topic":"","payload":"{\"led1\":1, \"led2\": 0, \"led3\": 0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":152.5,"y":406,"wires":[["d91da1ca.ba201"]]},{"id":"caed7e31.94768","type":"mqtt in","z":"70ebf3ea.a78d3c","name":"","topic":"bkm3t/led","qos":"2","broker":"5c91c918.ce9688","x":702.5,"y":540,"wires":[[]]},{"id":"82ad6975.ba8b28","type":"inject","z":"320e0419.d5f6ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":291,"wires":[["ac093ce9.fe35e"]]},{"id":"cd30159a.730358","type":"http request","z":"320e0419.d5f6ac","name":"post to FRED","method":"POST","ret":"txt","url":"http://mike.fred.sensetecnic.com/api/test","tls":"","x":528,"y":291,"wires":[["ce30e1dd.ed443"]]},{"id":"ac093ce9.fe35e","type":"function","z":"320e0419.d5f6ac","name":"set payload and headers","func":"msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['X-Auth-User'] = 'mike';\nmsg.headers['X-Auth-Key'] = 'fred-key';\n\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":291,"wires":[["cd30159a.730358"]]},{"id":"ce30e1dd.ed443","type":"debug","z":"320e0419.d5f6ac","name":"","active":true,"console":"false","complete":"false","x":698,"y":291,"wires":[]},{"id":"5cbf6910.958a18","type":"debug","z":"70ebf3ea.a78d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":706.5,"y":679,"wires":[]},{"id":"88d82c3d.c526f","type":"mqtt in","z":"70ebf3ea.a78d3c","name":"","topic":"olp/mpu6050","qos":"2","broker":"5c91c918.ce9688","x":277.5,"y":335,"wires":[[]]},{"id":"dc78de29.1399","type":"debug","z":"70ebf3ea.a78d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":575,"y":318,"wires":[]}]