prerape/node-red/data/.flows.json.backup
[{"id":"70ebf3ea.a78d3c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a0955585.20e3b8","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"99fcb0d.142575","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"1c08b279.9ff14e","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93d84f1c.0cae4","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7ed4215e.2f099","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"2029b391.8c25ac","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"bb2529cb.aa0848","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83e7e7d1.e46e58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65c1e55.9dd9e1c","type":"mqtt-broker","z":"","broker":"server.tobernguyen.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f179ddae.082c9","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"3d884f95.1da73","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"abc9e63e.e25988","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c91c918.ce9688","type":"mqtt-broker","z":"","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55ec42d9.fd8f2c","type":"MySQLdatabase","z":"","host":"db4free.net","port":"3306","db":"iot","tz":""},{"id":"4d9edb7.81ed424","type":"mqtt-broker","z":"","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57cf9630.e0c178","type":"MySQLdatabase","z":"","host":"172.17.0.3","port":"3306","db":"supplychain","tz":""},{"id":"b645dac9.fe4c58","type":"mqtt in","z":"70ebf3ea.a78d3c","name":"","topic":"m3t/mpu6050","qos":"2","broker":"4d9edb7.81ed424","x":310,"y":160,"wires":[["22e0ecc0.fbe8a4"]]},{"id":"94a71879.0269d8","type":"mqtt out","z":"70ebf3ea.a78d3c","name":"","topic":"thao_test","qos":"","retain":"","broker":"4d9edb7.81ed424","x":780,"y":160,"wires":[]},{"id":"2ba229a.15889d6","type":"http request","z":"70ebf3ea.a78d3c","name":"","method":"GET","ret":"txt","url":"192.168.12.127:3000","tls":"","x":550,"y":160,"wires":[["8e4913c3.85b6"]]},{"id":"3d54d7a7.be4f88","type":"debug","z":"70ebf3ea.a78d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","x":580,"y":400,"wires":[]},{"id":"db9effc5.40526","type":"e-mail","z":"70ebf3ea.a78d3c","server":"smtp.gmail.com","port":"465","secure":true,"name":"nguyentienthao96@gmail.com","dname":"thao","x":350,"y":480,"wires":[]},{"id":"30fa29a9.c6de96","type":"inject","z":"70ebf3ea.a78d3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["db9effc5.40526"]]},{"id":"bfeb6814.8ab368","type":"inject","z":"70ebf3ea.a78d3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["f0d610d6.db2e3"]]},{"id":"f0d610d6.db2e3","type":"function","z":"70ebf3ea.a78d3c","name":"query","func":"msg.topic = \"SELECT * FROM supplychain.users;\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["8a87c34d.b9a6"]]},{"id":"7a4579b8.d29f48","type":"debug","z":"70ebf3ea.a78d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":60,"wires":[]},{"id":"22e0ecc0.fbe8a4","type":"function","z":"70ebf3ea.a78d3c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["2ba229a.15889d6"]]},{"id":"8e4913c3.85b6","type":"function","z":"70ebf3ea.a78d3c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["94a71879.0269d8"]]},{"id":"f38fb333.a8ee1","type":"function","z":"70ebf3ea.a78d3c","name":"","func":"context.get('count', function(err, count) {\n    if (err) {\n        node.error(err, msg);\n    } else {\n        // initialise the counter to 0 if it doesn't exist already\n        count = count || 0;\n        count += 1;\n        // store the value back\n        context.set('count',count, function(err) {\n            if (err) {\n                node.error(err, msg);\n            } else {\n                // make it part of the outgoing msg object\n                msg.count = count;\n                // send the message\n                node.send(msg);\n            }\n        });\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["3d54d7a7.be4f88"]]},{"id":"9e270b79.e13ee8","type":"inject","z":"70ebf3ea.a78d3c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["f38fb333.a8ee1"]]},{"id":"8a87c34d.b9a6","type":"mysql-query","z":"70ebf3ea.a78d3c","mydb":"55ec42d9.fd8f2c","name":"","queryString":"show databases;","outputTo":"queryResult","x":538.5,"y":59,"wires":[["7a4579b8.d29f48"]]}]